<VirtualHost *:80>
  ServerName {{ ansible_fqdn }}

  <Location />
    Require ip 10.0.0.0/8
  </Location>

  ProxyPass /gitlab-pages http://127.0.0.1:9235 nocanon
  ProxyPass /gitlab-rails-sidekiq http://127.0.0.1:8082 nocanon
  ProxyPass /gitlab-rails-web http://127.0.0.1:8083 nocanon
  ProxyPass /gitlab-workhorse http://127.0.0.1:9229 nocanon
  ProxyPass /gitaly http://127.0.0.1:9236 nocanon
  ProxyPass /node http://127.0.0.1:9100 nocanon
</VirtualHost>
