<VirtualHost *:80>
  ServerName {{ external_domain_pages }}
  ServerAlias *.{{ external_domain_pages }}

  ProxyPreserveHost On
  AllowEncodedSlashes NoDecode

  ProxyPass / http://localhost:9080/
  ProxyPassReverse / http://localhost:9080/

  <Location /.well-known/>
    ProxyPass !
  </Location>
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ external_domain_pages }}
  ServerAlias *.{{ external_domain_pages }}

  SSLEngine on
  SSLCertificateFile /var/lib/dehydrated/certs/{{ inventory_hostname }}/fullchain.pem
  SSLCertificateKeyFile /var/lib/dehydrated/certs/{{ inventory_hostname }}/privkey.pem

  ProxyPreserveHost On
  AllowEncodedSlashes NoDecode

  ProxyPass / http://localhost:9080/
  ProxyPassReverse / http://localhost:9080/
</VirtualHost>
