<VirtualHost *:80>
  ServerName {{ external_domain }}

  Redirect permanent / https://{{ external_domain }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ external_domain }}

  SSLEngine on
  SSLCertificateFile /var/lib/dehydrated/certs/{{ inventory_hostname }}/fullchain.pem
  SSLCertificateKeyFile /var/lib/dehydrated/certs/{{ inventory_hostname }}/privkey.pem

  DocumentRoot /srv/{{ external_domain }}/gitlab/public
  <Directory /srv/{{ external_domain }}/gitlab/public>
    Require all granted
  </Directory>

  ProxyPreserveHost On
  AllowEncodedSlashes NoDecode

  ProxyPass / http://127.0.0.1:8181/ retry=10 nocanon
  ProxyPassReverse / http://127.0.0.1:8181/
  ProxyPassReverse / http://{{ external_domain }}/

  RequestHeader set X_FORWARDED_PROTO 'https'
  RequestHeader set X-Forwarded-Ssl on

  ErrorDocument 404 /404.html
  ErrorDocument 422 /422.html
  ErrorDocument 500 /500.html
  ErrorDocument 502 /502.html
  ErrorDocument 503 /503.html
</VirtualHost>
