<VirtualHost *:80>
  ServerName {{ external_domain_webhook }}

  Redirect permanent / https://{{ external_domain_webhook }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ external_domain_webhook }}

  SSLEngine on
  SSLCertificateFile /var/lib/dehydrated/certs/{{ inventory_hostname }}/fullchain.pem
  SSLCertificateKeyFile /var/lib/dehydrated/certs/{{ inventory_hostname }}/privkey.pem

  RequestHeader set X-Forwarded-Proto https

  ProxyPass / http://localhost:7443/
  ProxyPassReverse / http://localhost:7443/
</VirtualHost>
