[server]
http_addr = 0.0.0.0
http_port = 8080
root_url = https://{{ external_domain_dashboard }}/

[analytics]
reporting_enabled = false
check_for_updates = false

[security]
disable_initial_admin_creation = true
disable_gravatar = true
data_source_proxy_whitelist = localhost:9090
cookie_secure = true
cookie_samesite = lax

[snapshots]
external_enabled = false

[auth]
disable_login_form = true

[auth.generic_oauth]
enabled = true
name = Salsa
client_id = {{ oauth2_client_id }}
client_secret = {{ oauth2_client_secret }}
scopes = openid email
auth_url = https://{{ external_domain }}/oauth/authorize
token_url = https://{{ external_domain }}/oauth/token
api_url = https://{{ external_domain }}/oauth/userinfo
allowed_domains = debian.org
role_attribute_path = contains(groups[*], 'salsa') && 'Admin'
