pages-domain={{ external_domain_pages }}
pages-root=/srv/{{ external_domain }}/gitlab/shared/pages
artifacts-server=https://{{ external_domain }}/api/v4
listen-http=localhost:9080
#listen-https=localhost:9443
metrics-address=localhost:9235
api-secret-key=/home/salsa-pages/secret
internal-gitlab-server=https://salsa.debian.org
