logging.level: warning

filebeat.inputs:
{{ filebeat_inputs | to_yaml }}

setup.template.enabled: false

output.elasticsearch:
  hosts: ["{{ external_domain_logs }}:9200"]
  protocol: "https"
  username: "gitlab"
  password: "{{ filebeat_output_password }}"
  backoff.init: 60
  backoff.max: 1800
