concurrent = {{ gitlab_runner_concurrent }}
check_interval = 0
listen_address = ":9252"

{% for instance in gitlab_runner_instances %}
{%   set _privileged = instance.docker_privileged | default(False) %}
[[runners]]
  url = "https://{{ external_domain }}"
  name = "{{ instance.name }}"
  token = "{{ gitlab_runner_token.get(instance.name) }}"
  executor = "docker+machine"
  limit = {{ instance.limit | default(gitlab_runner_concurrent) }}
  [runners.docker]
    image = "debian:11"
    disable_cache = false
    cache_dir = "/cache"
    volumes = [
      "/cache",
      "/certs/client",
{%   if _privileged %}
      "/dev:/dev",
{%   endif %}
    ]
    privileged = {{ _privileged | lower }}
    [runners.docker.sysctls]
      "net.ipv6.conf.all.disable_ipv6" = "0"
  [runners.machine]
    IdleCount = {{ instance.machine_idle_count | default(0) }}
    IdleTime = 3600
    MaxBuilds = 1
    MachineDriver = "google"
    MachineName = "%s"
    MachineOptions = [
      "engine-registry-mirror=https://mirror.gcr.io",
      "google-project={{ instance.machine_google_project }}",
      "google-zone={{ instance.machine_google_zone }}",
      "google-machine-type={{ instance.machine_google_machine_type }}",
      "google-machine-image=debian-cloud/global/images/family/debian-11",
      "google-disk-size=30",
      "google-disk-type=pd-ssd",
      "google-network=build",
      "google-subnetwork=build",
      "google-use-internal-ip=true",
      "engine-opt=ipv6", # This will create IPv6 interfaces in the containers.
      "engine-opt=fixed-cidr-v6=fc00::/7",
    ]
{%   if instance.cache_bucket | default(None) %}
  [runners.cache]
    Type = "gcs"
    Shared = true
    [runners.cache.gcs]
      CredentialsFile = "{{ ansible_user_dir }}/etc/gitlab-runner.key.json"
      BucketName = "{{ instance.cache_bucket }}"
{%   endif %}
{% endfor %}
