#
# PRODUCTION
#
production:
  main:
    adapter: postgresql
    encoding: unicode
    database: {{ credentials.database.name }}
    pool: 10
    username: {{ credentials.database.role }}
    password: {{ credentials.database.password }}
    host: {{ credentials.database.host | default('localhost') }}
    # port: 5432
  ci:
    adapter: postgresql
    encoding: unicode
    database: {{ credentials.database.name }}
    database_tasks: false
    pool: 10
    username: {{ credentials.database.role }}
    password: {{ credentials.database.password }}
    host: {{ credentials.database.host | default('localhost') }}
    # port: 5432

#
# Development specific
#
development:
  main:
    adapter: postgresql
    encoding: unicode
    database: gitlabhq_development
    pool: 5
    username: postgres
    password: "secure password"
    host: localhost

#
# Staging specific
#
staging:
  main:
    adapter: postgresql
    encoding: unicode
    database: gitlabhq_staging
    pool: 10
    username: git
    password: "secure password"
    host: localhost

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test: &test
  main:
    adapter: postgresql
    encoding: unicode
    database: gitlabhq_test
    pool: 5
    username: postgres
    password:
    host: localhost
    prepared_statements: false
