global:
  scrape_interval: 10s

scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - localhost:9090

- job_name: gitaly
  metrics_path: /gitaly/metrics
  scheme: {{ metrics_scheme_gitlab }}
  static_configs:
  - targets:
    - {{ metrics_target_gitlab }}

- job_name: gitlab-pages
  metrics_path: /gitlab-pages/metrics
  scheme: {{ metrics_scheme_gitlab }}
  static_configs:
  - targets:
    - {{ metrics_target_gitlab }}

- job_name: gitlab-rails-sidekiq
  metrics_path: /gitlab-rails-sidekiq/metrics
  scheme: {{ metrics_scheme_gitlab }}
  static_configs:
  - targets:
    - {{ metrics_target_gitlab }}

- job_name: gitlab-rails-web
  metrics_path: /gitlab-rails-web/metrics
  scheme: {{ metrics_scheme_gitlab }}
  static_configs:
  - targets:
    - {{ metrics_target_gitlab }}

- job_name: gitlab-runner
  static_configs:
  - targets:
    - {{ metrics_target_runner }}:9252

- job_name: gitlab-workhorse
  metrics_path: /gitlab-workhorse/metrics
  scheme: {{ metrics_scheme_gitlab }}
  static_configs:
  - targets:
    - {{ metrics_target_gitlab }}

- job_name: node
  static_configs:
  - targets:
    - localhost:9100
    - {{ metrics_target_logs }}:9100
    - {{ metrics_target_runner }}:9100

- job_name: node-main
  metrics_path: /node/metrics
  scheme: {{ metrics_scheme_gitlab }}
  static_configs:
  - targets:
    - {{ metrics_target_gitlab }}
